body {
  font-family:Arial, sans-serif;
  background-color: #f5f5f0;
  color: #2d2d2d;
  margin: 5px;
}
#hero {
  align-items: center;
  padding: 32px;
}
h1 {
  color: #e04040;
}
.sourcesbtn {
  padding: 18px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: #e04040;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
.sourcesbtn:hover {
  background-color: #cc3636;
}
#about {
  margin-top: 50px;
  margin-bottom: 50px;
}
p {
  font-size: 18px;
  line-height: 1.6;
}
.link {
  color: #e04040;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f0a0a0;
}
input {
  border-radius: 8px;
  border: none;
  width: 80%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px;
  padding: 12px;
}
input:focus {
  outline: none;
  border: 1px solid #e04040;
  background-color: #FAFAFA;
}
